:root {
    /* CSS HEX */
--ash-gray: #cad2c5ff;
--cambridge-blue: #84a98cff;
--hookers-green: #52796fff;
--dark-slate-gray: #354f52ff;
--charcoal: #2f3e46ff;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body{

}
div.kontainer{
background-color: brown;
width: 700px;
padding: 30px;
margin: auto;
margin-top: 20px;
}
div.inlägg{
background-color: orange;
padding: 30px;
margin-bottom: 40px;
}
h1{

}
h2{

}
img{
width: 100%;
}
.datum{

}
p{

}
